<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking for {{competition['name']}} || GUDLFT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/styles.css">
    <style>
        .booking {
            background-color: #d6d6d6;
            color: rgb(0, 0, 0);
            display:block;
            width:30%;
            margin: auto;
            margin-top: 7%;
        }
    </style>
</head>

<body class="booking">
    <h2> {{ competition['name'] }} </h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <span class="badge badge-warning"> {{ messages[0] }} </span>
            <br></br>
        {% endif %}
    {% endwith %}
    Places available: {{ competition['numberOfPlaces'] }}/{{ competition['total_place'] }}
    <form action="/purchasePlaces" method="post">
        <input type="hidden" name="club" value="{{ club['name'] }}">
        <input type="hidden" name="competition" value="{{ competition['name'] }}">
        <label for="places">How many places? &nbsp;&nbsp; </label>
        <input type="number" name="places" id=""/> &nbsp;
        <button class="btn btn-info btn-sm" type="submit">Book</button>
    </form>
</body>

</html>
