<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>GUDLFT - Detailed Board</title>
    <style>
        table {border:1px solid black;}
        body {
            margin-left: 5%;
            margin-right: 10%;
            background-color: #d6d6d6;
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<h1 class="display-4 text-center">Detailed Board</h1>

<body>
    <br><br>
    <table class="table">
        <thead class="sub">
            <tr>
                {% for club in first_row %}
                    <th>{{ club }}</th>
                {% endfor %}
            </tr>
        </thead>
            <tr>
                {% for club in second_row %}
                    {% if loop.index == 1%}
                        <th>{{ club }}</th>
                    {% else %}
                        <td>{{ club }}</td>
                    {% endif %}

                {% endfor %}
            </tr>
        {% for competition in list_of_rows %}
            <tr>
                {% for value in competition %}
                    {% if loop.index == 1%}
                        <th>{{ value }}</th>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

    </table>
</body>
</html>