<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>GUDLFT Registration</title>
    <style>
        table {border:1px solid black;}

        body {
            margin-left: 5%;
            margin-right: 10%;
            background-color: #d6d6d6;
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<h1 class="display-4 text-center">Detailed Board</h1>

<body>
    <br><br>
    <table class="table">
        <thead class="sub">
            <tr>
                <th></th>
                {% for club in table %}
                    <th>{{ club }}</th>
                {% endfor %}
                <th>Total</th>
            </tr>

            <tr>
                <th> <strong>Points available</strong> </th>            
                {% for club in table %}
                    <td>{{ table[club]['points'] }}</td>
                {% endfor %}
                <td>{{ clubs_total_points }}</td>
            </tr>
        </thead>

        {% for comp in competitions %}
        {% set outer_loop = loop %}
            <tr>
                <th>{{ comp['name'] }}</th>
                {% for club in table %}
                    <td>{{ table[club]['ref_list'][outer_loop.index0]}}</td>
                {% endfor %}
                <td>{{ total_points_events[comp['name']] }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>